.email-noscript {
 outline: 1px solid #666666;
 background-color: #ffaaaa; 
}
@media (prefers-color-scheme: dark) {
 .email-noscript {
	outline-color: #1b1b1b;
	background-color: #ae151c;
 }
}
@media print {
 .email-noscript {
	background-color: #ffcccc;
 }
}
