.projects-container {
	background-color: var(--lowlight);
	outline: 1px solid var(--outline);
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 5px;
				 display:flex;
				 flex-direction: row;
				 flex-wrap: wrap;
}
.project {
	padding-left: 0px;
	padding-right: 5px;
	background-color: var(--highlight);
	color: var(--fg);
	outline: 1px solid var(--outline);
				margin: 5px;
border-radius: 5px;
text-decoration: none;
display:flex;
flex-direction: row-reverse;
flex-wrap: wrap;
column-gap: 5px;
}

.project:hover {
	background-color: var(--hover);
	color: var(--fg);
}
.project:focus {
	background-color: var(--hover);
	outline: 1px solid var(--accent-1);
	color: var(--fg);
}
.project-text>h3 {
				margin-bottom: 15px;
				margin-top: 15px;
}
.project-text {
	display: flex;
	flex-direction: column;
	/*flex-wrap: wrap;*/
}
.project-text>p {
	flex-grow: 1;
	align-content: center;
}
.tags {
display:flex;
flex-direction: row;
flex-wrap: wrap;
}
.tags>small {
	background-color: var(--lowerlight);
	outline: 1px solid var(--outline);
				border-radius: 5px;
				padding: 2px;
				padding-left: 5px;
				padding-right: 5px;
				margin: 2px;
}
.email-noscript {
			background-color: var(--red);
			padding: 8px;
			outline: 1px solid var(--outline);
}
code {
	background-color: var(--lowlight);
	outline: 1px solid var(--outline);
	border-radius: 5px;
	padding: 3px;
	margin: 1px;
}
.project-thumb {
	margin-left: auto;
	margin-right: auto;
	 height: 200px;
	border-radius: 5px;
	overflow: clip;
	margin-top: auto;
	margin-bottom: auto;
}
@media screen and (max-width: 620px) {
	.project-thumb {
		margin-top: 0px;
		margin-bottom: 10px;
	}
	.project {
		padding-left: 5px;
	}
}
.project-text {
	 flex-basis: 350px;
	 margin: 5px;
	 margin-left: 10px;
	 margin-right: 10px;
	flex-grow: 1;
}
