@font-face {
	font-family: "Inter";
	font-display: swap;
	font-style: normal;
	font-weight: 100 900;
	src: url(inter.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
:root {
	--bg: #353535;
	--hover: #303030;
	--highlight: #383838;
	--lowlight: #2d2d2d;
	--lowerlight: #282828;
	--fg: #ffffff;
	--accent-1: #99c1f1;
	--accent-2: #62a0ea;
	--accent-3: #3584e4;
	--accent-4: #1c71d8;
	--accent-5: #1a5fb4;
	--red: #ae151c;
	--outline: #1b1b1b;
	--header-bg-1: #2b2b2b;
	--header-bg-2: #262626;
}
header {
	background: linear-gradient(var(--header-bg-1), var(--header-bg-2));
	color: var(--fg);
	z-index: 10;
	padding: 10px;
	margin:0;
}
.header {
	width: 1200px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-right-image {
	height: 2.5em;
}
h1 {
	margin: 0px;
	font-size: 2.5em;
}
.title {
	font-size: 2em;
	color: var(--fg);
	text-decoration: none;
	font-weight: 700;
}
article {
	flex: 1;
	content-visibility: auto;
	margin:8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 16px;
	width: 1200px;
	max-width: calc(100% - 20px);
	margin-left: auto;
	margin-right: auto;
}
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

	background-color: var(--bg);
	color: var(--fg);

	margin:0px;
}
a {
	color: var(--accent-2);
}
a:hover {
	color: var(--accent-1);
}
code {
	background-color: var(--lowlight);
	outline: 1px solid var(--outline);
	border-radius: 5px;
	padding: 3px;
	margin: 1px;
}
.path {
width: fit-content;
}
footer {
	background: linear-gradient(var(--header-bg-1), var(--header-bg-2));
	color: var(--fg);
	padding: 10px;
	margin:0px;
}
.footer {
	width: 1200px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
footer>* {
	width: fit-content;
}
@media print {
	footer {
		display: none;
	}
	header {
		display: none;
	}
	article {
		width: 100%;
		max-width: 100%;
		margin: 0;
		padding: 0;
	}
}
