:root {
	--bg: #353535;
	--hover: #303030;
	--highlight: #383838;
	--lowlight: #2d2d2d;
	--lowerlight: #282828;
	--fg: #ffffff;
	--accent-1: #99c1f1;
	--accent-2: #62a0ea;
	--accent-3: #3584e4;
	--accent-4: #1c71d8;
	--accent-5: #1a5fb4;
	--red: #ae151c;
	--outline: #1b1b1b;
	--header-bg-1: #2b2b2b;
	--header-bg-2: #262626;
}
header {
	background: linear-gradient(var(--header-bg-1), var(--header-bg-2));
}
h1 {
	margin: 0px;
	font-size: 2.5em;
}
.title {
	font-size: 2em;
	color: var(--fg);
	text-decoration: none;
	font-weight: 700;
}
article {
	margin:8px;
	margin-top: 16px;
	width: 1200px;
	max-width: calc(100% - 20px);
	margin-left: auto;
	margin-right: auto;
}
body {
	min-height: 100vh;

	font-family: system-ui;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;

	background-color: var(--bg);
	color: var(--fg);

	margin:0px;
}
a {
	color: var(--accent-2);
}
a:hover {
	color: var(--accent-1);
}
code {
	background-color: var(--lowlight);
	outline: 1px solid var(--outline);
	border-radius: 5px;
	padding: 3px;
	margin: 1px;
}
.path {
	width: fit-content;
}
footer {
	background: linear-gradient(var(--header-bg-1), var(--header-bg-2));
}
li {
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}
@media print {
	body {
		--bg: #ffffff;
		--highlight: #ffffff;
		--lowlight: #ffffff;
		--lowerlight: #ffffff;
		--fg: #000000;
		--accent-1: #000000;
		--accent-2: #000000;
		--accent-3: #000000;
		--accent-4: #000000;
		--accent-5: #000000;
		--red: #ffcccc;
	}
	a {
		text-decoration: none;
	}
	footer {
		display: none;
	}
	header {
		display: none;
	}
	article {
		width: 100%;
		max-width: 100%;
		margin: 0;
		padding: 0;
	}
}
